<li>
  <p>
    <strong>Author:</strong>
    <%= comment.user.email %>
  </p>
  <p>
    <strong>Comment:</strong>
    <%= comment.content %>
  </p>
  <% if policy(comment).destroy? %>
    <%= link_to 'Delete', comment,
                method: :delete,
                data: { confirm: "Are you sure?" } %>
    <button class="comment-edit" type="button" data-comment-edit-id="<%= comment.id %>">
      Edit
    </button>
  <% end %>

  <% if policy(comment).create? %>
    <button class="comment-reply" type="button" data-comment-id="<%= comment.id %>">
      Reply
    </button></br>
  <% end %>
  
  <div class="hidden-edit" id="comment-edit-<%= comment.id %>">
    <%= render partial: 'comments/edit_form', :locals => { comment: comment } %>
  </div>
  <ul>
  <div class="hidden" id="comment-<%= comment.id %>">
    <%= render partial: 'comments/form', :locals => { commentable_type: 'Comment', commentable_id: comment.id } %>
  </div>
    <%= render(comment.comments) if comment.comments.present? %>
  </ul>
</li></br>
