<h1>Articles</h1>

<% if current_user.admin? %>
  <div align="center" ><%= form_tag articles_path, :method => "get" do %>
    <%= label_tag "what do you want to find in title?" %><br>
    <%= text_field_tag :title, @title %><br>

    <%= label_tag "what user of articles do you want to find?" %><br>
    <%= text_field_tag :user, @user %><br>

    <%= label_tag "what do you want to find in body?" %><br>
    <%= text_field_tag :body, @body %><br>

    <%= check_box_tag :status, :draft, @status=="draft" %>
    <%= label_tag :status, "Draft" %><br>

    <%= check_box_tag :status, :published, @status=="published" %>
    <%= label_tag :status, "Published" %><br>

    <%= submit_tag "Search", :name => nil %>
  <% end %></div>
<% end %>

<% if policy(:article).new? %>
  <%= link_to "New Article", new_article_path %>
<% end %>

<ul>
  <% @articles.each do |article| %>
    <li>
    <%= link_to article.title, article %>

    <% if policy(article).show_draft? %>
      <font color="red"><%= article.status %></font><br>
    <% end %>
    </li>

    <%= image_tag(article.image.small_thumb.url, alt: 'Image') if article.image? %>

  <% end %>
</ul>

<%= will_paginate @articles %>
