<h1><%= @article.title %></h1>

<% if @article.draft? %>
  <font color="red"><%= @article.status %></font><br>
<% end %>

<p><%= @article.body %></p><br>

<small>Created by: <%= @article.user.email %>,
<%= time_ago_in_words(@article.created_at) %> ago,
last updated: <%= time_ago_in_words(@article.updated_at) %> ago</small><br><br>

<div style="text-align: center;">
  <% if current_user.moderator? && @article.draft? || current_user.admin? && @article.draft? %>
    <%= button_to 'PUBLISHE', {:action => "update", :id => @article.id}, :params => { :article => {:status => "published"}}, :method => :patch %>
  <% end %>
</div>

<ul>
  <% if current_user.member? && @article.draft? || current_user.admin? %>
    <li><%= link_to "Edit", edit_article_path(@article) %></li>
    <li><%= link_to "Destroy", article_path(@article),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
  <% end %>
  <li><%= link_to "Back", root_path %></li>
</ul>