<h1><%= @article.title %></h1>

<small>Created by: <%= @article.user.email %>,
<%= time_ago_in_words(@article.created_at) %> ago,
last updated: <%= time_ago_in_words(@article.updated_at) %> ago</small><br><br>

<% if @article.draft? %>
  <font color="red"><%= @article.status %></font><br>
<% end %>

<%= image_tag(@article.image.thumb.url, alt: 'Image') if @article.image? %>

<p><%= @article.body %></p><br>


<div style="text-align: center;">
  <% if current_user.moderator? && @article.draft? || current_user.admin? && @article.draft? %>
    <%= button_to 'PUBLISHE', {:action => "update", :id => @article.id}, :params => { :article => {:status => "published"}}, :method => :patch %>
  <% end %>
</div>

<ul>
  <% if policy(@article).edit? %>
    <li><%= link_to "Edit", edit_article_path(@article) %></li>
    <li><%= link_to "Destroy", article_path(@article),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
  <% end %>
  <li><%= link_to "Back", root_path %></li>
</ul>

<% if @article.comments.present? %>
<h2>Comments:</h2>
<% end %>
<ul>
  <%= render @article.comments %>
</ul>

<h2>Add a comment:</h2>

<%= render partial: 'comments/form', :locals => { commentable_type: 'Article', commentable_id: @article.id } %>


